* {
    font-family:Arial, Helvetica, sans-serif;
    margin: 0 auto;
}

ul {
    list-style-type: none;
    text-align: center;
    background-color: silver;
}

li {
    display: inline-block;
    border: solid 2px black;
    padding: 15px;
    margin: 15px;
}

ol {
    list-style-type: none;
}

a {
    text-decoration: none;
}

a:hover {
    color: green;
}

a:active {
    color: yellow;
}

/* img {
    max-width: 100%;
    height: auto;
} */

.main-header {
    text-align: center;
    background-color: grey;
    padding: 20px;
}

.second-header {
    background-color: grey;
    text-align: center;
    padding: 20px;
}

.third-header {
    background-color: grey;
    padding: 20px;
}

/* 
.list {

} */
.btn {
    padding: 15px;
    background-color: blue;
}
/* .paragraph {

} */